.DS_Store
CesiumKit.xcodeproj/project.xcworkspace/xcshareddata/
CesiumKit.xcodeproj/project.xcworkspace/xcuserdata/
CesiumKit.xcodeproj/xcuserdata/
CesiumKit/.DS_Store
CesiumKit/Core/.DS_Store
CesiumKit/Platform/.DS_Store
CesiumKitRunner/.DS_Store
build/
# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage
